.app-container {
  background-image: url('./img/oliver-niblett-wh-7GeXxItI-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  background-color: black;
}

.accordion-details-controls {
  padding: 0px 12px 0px 0px;
  margin-bottom: 12px !important;
  max-height: 500px;
}
